.introduction-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.intro-text{
  text-align: center;
  padding: 0 30px;
}

.avatar{
  max-width: 400px;
}

.desk-img{
  width: 80%;
  max-width: 800px;
}

.subtitle{
  font-weight: 400;
  margin-top: 10px;
}

@media (max-width: 768px){
  .avatar{
    max-width: 300px;
  }
  .desk-img{
    width: 100%;
  }
}